.button-store {
  /* btn standard */
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 40px;
  font-size: 20px;
  line-height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  border: 2px solid;
  text-decoration: none;
  cursor: pointer;

  /* Primary */
  color: #ffffff;
  background-color: #252c41;
  border-color: #252c41;
}

.button-store:hover {
  background-color: #ffffff;
  border: solid 2px;
  border-color: #ffffff;
  color: #252c41;
}

.button-store.-secondary {
  background-color: transparent;
  border: solid 2px;
  border-color: #ffffff;
  margin-right: 40px;
}

.button-store.-secondary:hover {
  background-color: #ffffff;
  border: solid 2px;
  border-color: #ffffff;
  color: #e24647;
}

.button-store > button,
.button-store > a {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  border: none;
  text-decoration: inherit;
}
