.description-product {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.description-product > .title {
  font-size: 25px;
  margin-bottom: 50px;
}

.description-product > .item {
  font-size: 20px;
  margin-bottom: 25px;
}

.description-product > .item.-star {
  margin-bottom: 10px;
  cursor: pointer;
}

.description-product > .item.-star img:hover {
  transform: scale(1.2);
  transition: all 100ms linear;
}

.description-product > .item.-heart {
  position: absolute;
  transform: translateX(-100%);
  left: -48px;
  top: 0;
  cursor: pointer;
  transition: all 100ms linear;
}

.description-product > .item.-heart:hover {
  transform: translateX(-100%) scale(1.2);
}

.description-product > .item.-star + .item {
  margin-left: 7px;
}

.description-product > .item.-info {
  width: 200px;
  text-align: right;
}

.description-product > .item.-last {
  margin-bottom: 70px;
}

.description-product > .item img {
  margin-right: 8px;
}

.description-product .contrast {
  text-transform: uppercase;
  float: left;
}

.description-product > .text {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
}

.description-product > .text.-more {
  margin-bottom: 0;
}

.description-product .action {
  color: inherit;
  text-decoration: none;
}

.productActions dd {
  float: left;
  margin-right: 40px;
}
