.header-store {
  color: #ffffff;
  overflow: hidden;
  margin-bottom: 135px;
  padding: 0 60px;
}

.header-store .title {
  font-family: Paralucent, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  float: left;
  cursor: pointer;
}

.header-store .navigation {
  font-size: 21px;
  float: right;
}

.header-store form {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.header-store [type="search"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  padding: 8px;
  width: 358px;
  margin-right: 65px;
  vertical-align: bottom;
}

.header-store .busca::placeholder {
  color: #ffffff;
}

.header-store .action {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
  padding-bottom: 8px;
  position: relative;
  vertical-align: super;
}

.header-store .action:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 200ms linear;
  transform-origin: center left;
}

.header-store .action:hover:after {
  transform: scaleX(1);
}

.header-store .action.-last {
  margin-right: 0;
}

@media (max-width: 1250px) {
  .header-store .title {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }

  .header-store .navigation {
    float: none;
    text-align: center;
  }
}

@media (max-width: 960px) {
  .header-store {
    padding: 0 30px;
  }
  .header-store [type="search"] {
    display: none;
  }
}

@media (max-width: 640px) {
  .header-store .action {
    margin-right: 30px;
  }
}

@media (max-width: 420px) {
  .header-store {
    padding: 0 15px;
  }
  .header-store .action {
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  .header-store > .navigation {
    display: none;
  }
}
